@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222831;
  color: #ff2e63;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

span {
  font-size: 100px;
  margin: 0px 10px;
}
.new {
  position: absolute;
  /* right: -100px; */
  animation: newYear 7s forwards;
}
.new-year-text {
  text-align: center;
  background-color: #ff2e63;
  color: #fff;
  width: 320px;
  position: absolute;
  animation: newYearText 7s forwards;
}
.new-year-text p {
  width: 100%;
  display: inline-block;
}
.balloon {
  display: inline-block;
  width: 120px;
  height: 150px;
  background-color: hsl(215, 50%, 65%);
  border-radius: 80%;
  position: absolute;
  box-shadow: inset -10px -10px 0 rgba(0, 0, 0, 0.7);
  margin: 20px 30px;
  z-index: 10;
  transform-origin: bottom center;
  animation: balloon 6s forwards;
}
.balloon::after {
  content: "";
  width: 3px;
  height: 125px;
  background-color: #fff;
  display: block;
  position: absolute;
  left: 50%;
  top: 145px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.old {
  position: absolute;
  animation: oldYear 6s forwards;
}

.confetti {
  position: absolute;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: -99;
  animation: confetti 18s forwards;
}
@keyframes newYearText {
  0% {
    visibility: hidden;
  }
  70% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
  }
}
@keyframes newYear {
  0% {
    right: -100px;
  }
  80% {
    right: 400px;
  }
  90% {
    right: 450px;
  }
  100% {
    right: 470px;
  }
}


@keyframes balloon {
  0% {
    right: -100px;
    top: 70px;
  }

  80% {
    right: 430px;
    top: 20px;
  }
  100% {
    top: -1000px;
  }
}


/* old version */
/* @keyframes balloon {
  0% {
    right: -100px;
    top: 10px;
  }
  60% {
    right: 250px;
    top: 10px;
  }
  80% {
    right: 430px;
    top: 20px;
  }
  100% {
    top: -1000px;
  }
} */
@keyframes oldYear {


  80% {
    top: 270px;
  }
  100% {
    top: -1000px;
  }
}
@keyframes confetti {
    0% {
      top: 500%;
    }
    80% {
      top: 50px;
    }
    100% {
       transform: scale(100);
      }
  }